body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f0ea;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #414141;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}

.hero {
  height: 80vh;
  background-image: url('images/hero2.jpeg');
  background-size: cover;
  background-position: center 150%;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  padding: 120px;
  color: white;
}

.hero-text {
  max-width: 500px;
}
.hero-text h1{
  font-size: 42px;
}
.hero-text p{
  font-size: 22px;
}
.hero-text a{
  font-size: 16px;
}

.hero button {
  background: #414141;
  border: none;
  padding: 10px 20px;
}

.sobre {
  display: flex;
  padding: 60px;
  gap: 40px;
}

.servicos {
  padding: 60px;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;

  max-width: 1200px;  /* limita largura */
  margin: 0 auto;     /* CENTRALIZA */
}

.card {
  background: #f5f5f5;
  padding: 5px;
  border-radius: 12px;
  min-height: 180px;
}

@media (max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
    justify-items: center; /* centraliza os cards */
  }

  .card {
    max-width: 320px;
    width: 100%;
  }
}
.portfolio {
  padding: 60px;
}

.grid {
  display: flex;
  gap: 20px;
}

.item {
  background: #ccc;
  height: 200px;
  flex: 1;
  border-radius: 10px;
}

.contato {
  padding: 60px;
}

footer {
  background: #414141;
  color: white;
  text-align: center;
  padding: 20px;
}
html {
  scroll-behavior: smooth;
}
.sobre {
  padding: 100px 40px;
  background: #f3ede6;
}

.sobre-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: 40px;
}

/* IMAGENS */
.sobre-img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
}

/* TEXTO */
.sobre-content {
  text-align: left;
}

.sobre-content h2 {
  margin-bottom: 20px;
}

.sobre-content p {
  margin-bottom: 15px;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .sobre-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .sobre-img img {
    height: 250px;
  }

  .sobre-content {
    text-align: center;
  }
}



.tag {
  font-size: 22px;
  letter-spacing: 2px;
  color: #414141;
  display: block;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .sobre-container {
    flex-direction: column;
  }

  .sobre-left h2 {
    font-size: 30px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
  background: #414141;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LOGO */
.logo {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.logo strong {
  font-size: 20px;
  letter-spacing: 1px;
}

.logo span {
  font-size: 10px;
  letter-spacing: 2px;
  color: #7a7a7a;
  margin-top: 4px;
}

/* MENU */
.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  position: relative;
  transition: 0.3s;
}

/* Efeito underline animado */
.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #F1813A;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

/* BOTÃO */
.btn {
  text-decoration: none;
  background: #F1813A;
  color: white;
  padding: 10px 22px;
  border-radius: 25px;
  font-size: 13px;
  transition: 0.3s;
}

.btn:hover {
  background: #414141
}
.header {
  backdrop-filter: blur(10px);
}
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 768px) {

  .nav {
    position: absolute;
    top: 70px;
    right: 0;
    background: #f3ede6;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;

    display: none;
  }

  .nav.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .btn {
    display: none; /* opcional esconder no mobile */
  }

}
.nav {
  transition: all 0.3s ease;
}
@media (max-width: 768px) {

  .servicos {
    padding: 60px 20px;
  }

  .titulo {
    font-size: 26px;
  }

  .linha {
    margin-bottom: 30px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    width: 100%;
    max-width: 320px;
    padding: 25px;
  }

  .icon {
    font-size: 28px;
  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 14px;
  }
}

.logo-icon {
  height: 100px;
}.portfolio {
  padding: 100px 40px;
  background: #f3ede6;
  text-align: center;
}

.grid {
  display: flex;
  gap: 25px;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.card-projeto {
  position: relative;
  width: 300px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
}

.card-projeto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  opacity: 0;
  transition: 0.3s;
}

.card-projeto:hover img {
  transform: scale(1.1);
}

.card-projeto:hover .overlay {
  opacity: 1;
}
.contato {
  position: relative;
  padding: 100px 40px;

  background-image: url('images/idearq2.jpeg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;

  color: white;
}
.contato::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}
.contato > * {
  position: relative;
  z-index: 1;
}
.form-container {
  max-width: 900px;
  margin: 40px auto 0;
  border-radius: 12px;
  overflow: hidden;
  background: white;
}

.footer {
  background: #1f1f1f;
  color: #ccc;
  padding: 60px 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-col {
  text-align: left;
}

.footer-col h3,
.footer-col h4 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #ffff;
}

/* parte de baixo */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  margin-top: 40px;
  padding-top: 15px;
  text-align: center;
  font-size: 13px;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-col {
    max-width: 100%;
  }
}
.footer a {
  color: #ffff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
.whatsapp-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.whatsapp-title img {
  width: 18px;
  height: 18px;
  filter: invert(48%) sepia(93%) saturate(500%) hue-rotate(85deg);
}